In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.cleantext import *

In [2]:
df1 = pd.read_csv('../cap2/data/sephora_review_ordinary.csv')

In [21]:
df1.r_review[0]

'I’ve been using this for almost a week now. I can honestly say I was skeptical. I have dark old acne scars, the occasional random zit, and areas on my cheeks that are either enlarged pores or what I’ve heard called “pock marks”. I noticed a difference after the first night. Now, almost a week in to it, I can feel a difference, too. The scars still look the same (only been 1 week). But my overall skin looks brighter. And the areas where I have enlarged pores/pock marks feel a whole lot smoother. Makeup doesn’t automatically settle into them now. I recommend and I’m going to keep using, too!'

In [20]:
df1_test =df1[['r_review','r_star','']]

In [5]:
df2 = pd.read_csv('../cap2/data/sephora_review.csv')

In [23]:
df2_test = df2[['review_text', 'rating']]

In [26]:
df1_test.rename(columns = {'r_review':'Review', 'r_star': 'Rating'}, inplace = True)
df2_test.rename(columns = {'review_text':'Review', 'rating': 'Rating'}, inplace = True)

In [31]:
sephora = pd.concat([df1_test, df2_test])

In [34]:
sephora.to_csv('sepho_review_rating.csv')

# Sephora Review checkpoint

In [15]:
sephora = pd.read_csv('data/sepho_review_rating.csv').drop(columns='Unnamed: 0')

In [16]:
sephora.Review = cleanText(sephora.Review)

In [18]:
#CleanText1
sephora.Review[0]

'ive been using this for almost a week now i can honestly say i was skeptical i have dark old acne scars the occasional random zit and areas on my cheeks that are either enlarged pores or what ive heard called pock marks i noticed a difference after the first night now almost a week in to it i can feel a difference too the scars still look the same only been  week but my overall skin looks brighter and the areas where i have enlarged porespock marks feel a whole lot smoother makeup doesnt automatically settle into them now i recommend and im going to keep using too'

In [19]:
sephora.Review = cleanText2(sephora.Review)

In [20]:
#CleanText2
sephora.Review[0]

'ive use almost week honest say skeptic dark old acn scar occasion random zit area cheek either enlarg pore ive heard call pock mark notic differ first night almost week feel differ scar still look week overal skin look brighter area enlarg porespock mark feel whole lot smoother makeup doesnt automat settl recommend im go keep use'

In [21]:
sephora_vectorize = vectorize(sephora.Review.values.astype('U'), max_feat= 1000)

In [23]:
sephora_vectorize['Rating'] = sephora['Rating']

In [24]:
sephora_vectorize

,abl,absolut,absorb,acid,acn,acnepron,across,act,activ,actual,...,yet,youll,younger,your,youtub,zero,zinc,zit,zone,Rating
0,0.0,0.000000,0.0,0.000000,0.090357,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.179267,0.0,5
1,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
2,0.0,0.000000,0.0,0.102492,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
3,0.0,0.166134,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
4,0.0,0.000000,0.0,0.115204,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
2205,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
2206,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,5
2207,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1
2208,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2

In [25]:
sephora_vectorize.to_pickle('data/sephora_vectorize.pkl')

# Makeup Alley Data

In [19]:
ma = pd.read_csv('data/makeup_alley_data_updated.csv')

In [24]:
ma_samp = ma.sample(100000, random_state = 123)

In [28]:
ma_samp = ma_samp[['Review','Rating']]

In [29]:
#ma_samp.to_csv('data/ma_samp.csv')

**checkpoint**

In [3]:
ma_samp = pd.read_csv('data/ma_samp.csv')

In [5]:
ma_samp.drop(columns='Unnamed: 0', inplace = True)

In [31]:
ma_samp.Review = cleanText(ma_samp.Review)

/Users/suchaya/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [6]:
ma_samp.Review = cleanText2(ma_samp.Review)

In [8]:
ma_vectorize = vectorize(ma_samp.Review.values.astype('U'), max_feat= 1000)

In [10]:
ma_vectorize['Rating'] =  ma_samp['Rating']

In [11]:
ma_vectorize

,00,10,100,12,15,20,25,30,40,50,...,write,wrong,year,yes,yet,you,younger,zit,zone,Rating
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,4.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,4.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.116655,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.307529,0.0,0.000000,0.000000,4.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.139905,0.000000,2.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,3.0
99996,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,3.0
99997,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,3.0
99998,0.0,0.067657,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.048871,0.0,0.0,0.000000,0.0,0.000000,0.149083,4.0
99999,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,5.0

In [14]:
ma_vectorize.to_pickle('data/ma_vectorize.pkl')

# MLP Model